#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-container {
  margin-top: 2rem;
  /* overflow-x: auto; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.5em;
  /* background-color: #1a1a1a; */
  /* color: #fff; */
}

.header-title {
  width: 100%;
}

.header-sort {
  opacity: 0.8;
}

.header-sort-hidden {
  opacity: 0.1;
}

.row-color {
  background-color: light-dark(#e6f0fa, #23272f);
}

.row-color-alt {
  background-color: light-dark(#f9f9f9, #181b20);
}

td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.cell-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 1.5em;
}

.td-name-logo {
  height: 2em;
  width: 3em;
  margin-right: 0.5em;
}