#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table-container {
  margin-top: 2rem;
  /* overflow-x: auto; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.5em;
  /* background-color: #1a1a1a; */
  /* color: #fff; */
}

.header-pad {
  visibility: hidden;
}

.header-title {
  width: 100%;
}

.header-sort {
  opacity: 0.8;
}

.header-sort-hidden {
  opacity: 0.1;
}

.row-color {
  background-color: light-dark(#e6f0fa, #23272f);
}

.row-color-alt {
  background-color: light-dark(#f9f9f9, #181b20);
}

td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.cell-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 1.5em;
}

.td-name-logo {
  height: 2em;
  width: 3em;
  margin-right: 0.5em;
}